body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: #84e4f4;
}

.wrap {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
  padding: 50px 4vw;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 10rem;
  font-weight: 700;
  color: transparent;
  background: linear-gradient(rgba(166, 242, 255, 1) 0%, rgba(40, 186, 212, 1) 100%);
  background-clip: text;
  margin: 50px 0;
}

.count_btn button {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  border-radius: 50%;
  font-size: 2rem;
  margin: 0 10px;
  transition: all 0.2s;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.count_btn button.reset {
  width: 70px;
  height: 70px;
  background-color: #84e4f4;
}
.count_btn button:hover {
  transform: scale(1.1);
}